* {
margin: 0;
padding: 0;
}

.cabecalho {
padding: 15px 5px;
display: flex;2
justify-content: space-between;
align-items: center;
background-color: rgb(27, 198, 228);
}

.cartao {
width: 260px;
height: 200px;
}

.cartao-imagem {
width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(71, 232, 243);
}

main {
    flex: 1;

}

.cabecalho-link {
    color: #131212;
    text-decoration: none;
}
h1 { 
    color: #0e0d0d;
    font-size: 24px;
}
footer {
    background-color: rgb(27, 198, 228);
    padding: 15px 5px;
    color: black;
}
